@font-face {
  font-family: DepartureMonoNerdFont-Regular;
  src: url("/fonts/DepartureMonoNerdFont-Regular.otf") format("opentype");
}

body {
  background-color: #303446;
  font-family: "DepartureMonoNerdFont-Regular", sans-serif;
}

.background { /* Artificial */
  background-color: #414559;
  background-position: center;
  text-align: center;
  width: 65%;
  padding: 15px 15px 15px 15px;
  margin-left: 15%;
  color: var(--subtext1);
}

#title {
  color: #c6d0f5;
}

.surface1 {
  background-color: var(--surface0);
  color: var(--surface1);
}

a:link {
  color: var(--blue);
}

a:visited {
  color: var(--mauve)
}

hr {
  color: var(--rosewater);
  width: 51%; /* Match the text length*/
}