body {
  padding-top: 15%;
  padding-left: 20%;
}

.background { /* Artificial */
  background-color: var(--surface0);
  background-position: center;
  text-align: center;
  width: 65%;
  padding: 15px 15px 15px 15px;
  margin-left: 15%;
  color: var(--subtext1);
}

a:link {
  color: var(--blue) !important;
}

a:visited {
  color: var(--mauve) !important;
}

button, input, textarea, select, list {
  color: var(--text) !important;
  background-color: var(--base) !important;
  border-color: var(--mauve)
}

button:disabled {
  background-color: var(--crust) !important;
}

/* import this file in every html test*/

body {
  background-color: var(--base) !important;
}

hr {
  color: var(--rosewater) !important;
}

h1 {
  color: var(--text) !important;
}

h2, h3, h4, h5, h6, list, table, form, details {
  color: var(--subtext1) !important;
}

p, blockquote, pre, ul, ol, summary {
  color: var(--subtext0) !important;
}

mark {
  color: var(--yellow) !important;
  opacity: 75% !important;
}

del {
  color: var(--red) !important;
}

strong {
  color: var(--text) !important;
}

code {
  color: var(--green) !important;
}

th {
  color: var(--sapphire) !important;
}

@font-face {
  font-family: "DepartureMono Nerd Font" !important;
  src: url("/fonts/DepartureMonoNerdFont-Regular.otf") !important;
}

@font-face {
  font-family: "DepartureMono Nerd Font Mono" !important;
  src: url("/fonts/DepartureMonoNerdFontMono-Regular.otf") !important;
}

@font-face {
  font-family: "DepartureMono Nerd Font Propo" !important;
  src: url("/fonts/DepartureMonoNerdFontPropo-Regular.otf") !important;
}

* {
  font-family: "DepartureMono Nerd Font", monospace !important;
}

* {
  margin: 0 !important;
}

:root {
  --rosewater: #f2d5cf !important;
  --flamingo: #eebebe !important;
  --pink: #f4b8e4 !important;
  --mauve: #ca9ee6 !important;
  --red: #e78284 !important;
  --maroon: #ea999c !important;
  --peach: #ef9f76 !important;
  --yellow: #e5c890 !important;
  --green: #a6d189 !important;
  --teal: #81c8be !important;
  --sky: #99d1db !important;
  --sapphire: #85c1dc !important;
  --blue: #8caaee !important;
  --lavender: #babbf1 !important;

  --text: #c6d0f5 !important;
  --subtext1: #b5bfe2 !important;
  --subtext0: #a5adce !important;
  --overlay2: #949cbb !important;
  --overlay1: #838ba7 !important;
  --overlay0: #737994 !important;
  --surface2: #626880 !important;
  --surface1: #51576d !important;
  --surface0: #414559 !important;
  --base: #303446 !important;
  --mantle: #292c3c !important;
  --crust: #232634 !important;
}
