a:link {
    color: var(--blue);
}

a:visited {
    color: var(--mauve);
}

button, input, textarea, select {
    color: var(--text);
    background-color: var(--base);
    border-color: var(--crust)
}